/* src/style/App.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

/* Chỉ style chung, không ép các page layout */
a {
  text-decoration: none;
  color: inherit;
}
